[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mock = "*"
nose2 = "*"
behave = "*"
ipython = "*"
typing = "*"
"sphinxjp.themes.basicstrap" = "*"
Flask = "*"
WebTest = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
